md-toolbar h3 {
    margin: auto;
}

md-list-item > button {
    width: 100%;
    text-align: left !important;
}

md-list-item > a {
    width: 100%;
    text-align: left !important;
}

.centered {
    text-align: center;
}