<md-card md-theme="{{payment.theme}}" md-theme-watch ng-repeat="payment in payments">
    <md-card-title>
        <md-card-title-text>
            <span class="md-headline">{{payment.name}}</span>
            <span class="md-subhead" ng-show="payment.payments.next">Proximo Pago: {{payment.payments.next | date:'fullDate'}}.</span>
            <span class="md-subhead" ng-show="!payment.payments.next">Ciclo de pagos finalizado.</span>
        </md-card-title-text>
        <md-chips ng-model="payment.tags" readonly="true"></md-chips>
    </md-card-title>
    <md-card-content>{{payment.description}}</md-card-content>
    <md-card-actions layout="row" layout-align="end center">
        <md-button ng-click="pay(payment)"><i class="material-icons">money_off</i></md-button>
    </md-card-actions>
</md-card>