<form name="searchForm">
    <div layout="row">
        <md-input-container flex>
            <md-icon><i class="material-icons">search</i></md-icon>
            <label>Buscar</label>
            <input ng-model="query" md-select-on-focus>
        </md-input-container>
        <md-button ng-click="add()">
            <i class="material-icons">note_add</i>
        </md-button>
    </div>
    <md-progress-linear ng-show="loading" md-mode="indeterminate"></md-progress-linear>
</form>

<md-card ng-repeat="payment in payments">
    <md-card-title>
        <md-card-title-text>
            <span class="md-headline">{{payment.name}}</span>
            <span class="md-subhead" ng-show="payment.payments.next">Proximo Pago: {{payment.payments.next | date:'fullDate'}}</span>
        </md-card-title-text>
        <md-chips ng-model="payment.tags" readonly="true"></md-chips>
    </md-card-title>
    <md-card-content>{{payment.description}}</md-card-content>
    <md-card-actions layout="row" layout-align="end center">
        <md-button ng-click="pay(payment)"><i class="material-icons">money_off</i></md-button>
        <md-button ng-click="edit(payment)"><i class="material-icons">mode_edit</i></md-button>
        <md-button ng-click="deletePrompt(payment)"><i class="material-icons">delete</i></md-button>
    </md-card-actions>
</md-card>
<div class="centered">
    <md-button ng-click="loadMore()" class="md-raised md-cornered">
        <i class="material-icons">expand_more</i>
    </md-button>
</div>